<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <!-- log4j own log level -->
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss} %-5p %-20.20C{1} %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>
